body, button, dd, dl, dt, form, h1, h2, h3, h4, h5, h6, hr, input, li, ol, p, td, textarea, th, ul {
    margin: 0;
    padding: 0
}

body{
    background: #e3e3e3 !important;
}
img {
    vertical-align: top;
}

a img {
    border: none;
}

a {
    color: #5d3a88;
    text-decoration: none;
    outline-style: none;
}

var, em {
    font-style: normal
}

ul, li {
    list-style: none
}

.cover {
    width: 100%;
    /*height: 100%;*/
    position: relative;
    text-align: center;
}

.cover-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 1200px;
    height: auto
}

.cover-bg img {
    position: absolute;
    display: none;
}

.cover .title {
    color: #4f4d46;
    font-size: 2.8em;
    padding-top: 40px;
    padding-left: 20px;
    font-weight: 900;
    margin-bottom: 20px
}

.cover .sub-title {
    /*font-size: 1em;*/
    font-size: 25px;
    text-align: center;
    position: relative;
    padding-top: 10px;
    height: 120px;
}

.cover .sub-title p {
    padding-top: 7px;
    display: none;
    color: #999999;

}

.cover .image-wrap {
    position: relative;
    width: 375px;
    height: 375px;
    margin: 0 auto;
    margin-top: 20px;
    /*background: red;*/
}

/*新的logo显示*/
.cover .img-wrap {
    position: relative;
    /*width: 375px;*/
    /*height: 375px;*/
    margin: 0 auto;
    margin-top: 20px;
    /*border-radius: 50%;*/
    overflow: hidden;
    /*-webkit-transform: scale(0));*/
    /*-ms-transform: scale(0);*/
    /*transform: scale(0);*/
}

.animation {
    /* infinite*/
    -webkit-animation: image 6s infinite forwards;
    animation: image 6s infinite forwards;
}

@-webkit-keyframes image {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@-moz-keyframes image {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes image {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.cover .tip {
    width: 100%;
    position: absolute;
    text-align: center;
    bottom: 35px;
    display: none
}

.wrap {
    width: 990px;
    height: 900px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.content-div {
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;
    width: 100%;
    height: auto
}

.content-wrap {
    width: 1200px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 28px;
    text-align: left;
}

.content-wrap p {
    padding-top: 15px;
    padding-bottom: 15px
}

.content-wrap .subtitle span {
    border-bottom: 2px #88b8d6 solid;
    padding-bottom: 4px;
    font-weight: 900
}

.content-wrap .subtitle {
    color: #88b8d6;
    font-size: 16px;
    text-align: center;
}

.content-wrap .caption {
    color: #333;
    font-size: 12px;
    line-height: 20px;
    width: 70%;
    margin: 0 auto;
}

.part-distance {
    width: 1200px;
    height: auto;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.part-distance .selectWrap {
    width: 180px;
    height: 25px;
    margin: 0 auto;
    position: relative;
}

.part-distance .byDistance {
    float: left;
    margin-right: 10px;
    cursor: pointer;
}

.part-distance .pointerFrame {
    float: left;
    width: 50px;
    border-radius: 20px;
    border: 1px #bbb solid;
    height: 20px;
    position: relative;
    background-color: #eee
}

.part-distance .pointer {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    position: absolute;
    left: 0px
}

.part-distance .byTime {
    float: left;
    margin-left: 10px;
    cursor: pointer;
}

.part-distance .color2 {
    background-color: #AD6C6A
}

.part-distance .color1 {
    background-color: rgb(248, 179, 48)
}

.part-distance .hitDis {
    width: 25px;
    height: 30px;
    background-color: transparent;
    position: absolute;
    left: 55px;
    z-index: 99;
    cursor: pointer;
}

.part-distance .hitTime {
    width: 25px;
    height: 30px;
    background-color: transparent;
    position: absolute;
    left: 85px;
    z-index: 99;
    cursor: pointer;
}

/*时间轴*/
.time-axis-wrap {
    position: relative;
    width: 1200px;
    /*height: 400px;*/
    margin: 0 auto;

}

/*时间轴*/
.time-axis-wrap .time-axis-line {
    width: 100%;
    height: 150px;
    border: 2px solid #ccc;
    position: relative;
}

.time-axis-wrap .time-axis-line > .trangel {
    width: 0;
    height: 0;
    border-width: 9px;
    border-style: solid;
    border-color: transparent #ccc transparent transparent;
    position: absolute;
    bottom: -10px;
    left: -10px;
}

.time-axis-wrap .time-axis-detail {
    position: absolute;
    width: 100px;
    text-align: center;
    display: none;
}
.time-axis-wrap .time-axis-detail img {
    width: 60px;
}
.time-axis-wrap .time-axis-detail .axis-title {
    font-size: 16px;
    text-align: center;
    color: #333;
    margin-top: 10px;
}

.time-axis-wrap .time-axis-detail .axis-time {
    font-size: 18px;
    text-align: center;
    color: #89bdd3;
    /*margin-top: 10px;*/
}

/*城市对比*/
.content-wrap .chart-wrap {
    width: 300px;
    height: 200px;
    margin-bottom: 50px;
    text-align: center;
}

.content-wrap .chart-wrap:nth-of-type(even) {
    float: right;

}

.content-wrap .chart-wrap:nth-of-type(odd) {
    float: left;
}

.content-wrap .chart-wrap .chart {
    width: 100%;
    height: 180px;
    border: 1px solid #d5d5d5;
    box-sizing: border-box;
}

.content-wrap .chart-wrap .chart-tips {
    color: #B4D9FA;
}

/*城市政策力度对比*/
.content-wrap .btn-wrap {

}

.content-wrap .zhengceChart {
    width: 1200px;
    height: 640px;
}

.content-wrap .btn-wrap .btn {
    box-sizing: border-box;
    height: 36px;
    line-height: 32px;
    text-align: center;
    float: left;
    margin: 0 12px;
    padding: 2px 8px;
    border: 1px solid #d5d5d5;
    border-radius: 4px;
}

.content-wrap .btn-wrap .btn:nth-last-of-type(1) {
    margin-right: 0;
}

.content-wrap .btn-chart-wrap {
    width: 100%;
    height: 320px;
    box-sizing: border-box;
    border: 1px solid #d5d5d5;
    position: relative;
    margin-top: 40px;
}

.content-wrap .btn-chart-wrap .btn-chart {
    width: 100%;
    height: 320px;
    position: absolute;
    left: 0;
    top: 0;
    background: #fff;
}

.content-wrap .currency-chart {
    width: 100%;
    height: 320px;
    background: #fff;
}

.content-wrap .currency-title {
    width: 100%;
    text-align: center;
    color: #B7DDE3;
}

.video-play {
    background-image: url(images/vigdeo-button.png);
    width: 100%;
    height: 100%;
    z-index: 99;
    position: absolute;
    left: 0;
    top: 0;
}

/*
城市对比
*/

.part-top10 {
    width: 600px;
    height: 930px;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    text-align: center;

    /*padding-left: 27px;*/
    /*padding-top: 10px;*/
}

.part-top10 ul {
    width: 15.5%;
    float: left;
}

.part-top10 ul.rank {
    width: 3%;
    float: left;
}

.part-top10 li {
    height: 37px
}

.part-top10 li span {
    padding: 3px 13px;
    border-radius: 13px
}

.part-top10 ul.rank li {
    height: 33px;
    padding-top: 4px;
    color: #999;
    text-align: right;
}

.part-top10 ul.col1 .chosen {
    background-color: #deca90;
    color: #fff
}

.part-top10 ul.col2 .chosen {
    /*#deca90 黄*/
    /*#5a1114 红*/
    /*#4e3929 黑*/

    background-color: #5a1114;
    color: #fff
}

.part-top10 ul.col3 .chosen {
    background-color: #4e3929;
    color: #fff
}

.part-top10 ul.col4 .chosen {
    background-color: #deca90;
    color: #fff
}

.part-top10 ul.col5 .chosen {
    background-color: #5a1114;
    color: #fff
}

.part-top10 ul.col6 .chosen {
    background-color: #4e3929;
    color: #fff
}


/*底部制作人*/
.credit {
    font-size: 12px;
    color: #999;
    line-height: 20px;
    margin-top: 70px
}